.archive,.search,.error404,.original-category{
	.site-content{
		padding: 20px 0 190px;
	}

	.entry-header{
		padding:40px 40px 0;

		@media screen and(max-width:991px){
			padding:24px 16px 0;
		}	
	}
	.entry-content{
		padding:40px;

		a{
			&:hover{
				text-decoration: underline;
			}
		}

		@media screen and(max-width:991px){
			padding:24px 16px;
		}		
	}

}	