.entry-content {

	p {
		margin-bottom: 2em;
	}

	h2 {
		margin: 0;
		padding: 20px;
		border-bottom: 0;
		background: $main-color;
		font-size: 30px;
		color: #fff;
		margin-bottom: 32px;

		@media screen and ( max-width: 550px ){
			font-size: 24px;
		}
	}

	h3 {
		margin: 0 0 30px;
		padding: 16px 0;
		border-left: 0;
		border-bottom: 3px solid #f3f3f3;
		position: relative;

		@media screen and ( max-width: 550px ){
			font-size: 20px;
		}

		&:before {
			content: '';
			width: 15%;
			height: 3px;
			background: $main-color;
			position: absolute;
			bottom: -3px;
			left: 0;
		}
	}

	h4 {
		margin: 0 0 24px;
		padding-left: 12px;
		border-left: 3px solid $main-color;
		font-size: 20px;

		@media screen and ( max-width: 550px ){
			font-size: 18px;
		}
	}

	h5 {
		margin: 0 0 12px;
		padding-left: 28px;
		font-size: 18px;
		position: relative;

		@media screen and ( max-width: 550px ){
			font-size: 16px;
		}

		&:before {
			content: '';
			background: $main-color;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			position: absolute;
			top: 9px;
			left: 6px;
			box-shadow: 0 0 0 3px #fff, 0 0 0 6px $main-color;
		}
	}

	h6 {
		color: $main-color;
		margin: 0 0 8px;

		@media screen and ( max-width: 550px ){
			font-size: 14px;
		}
	}

	ul {
		margin-bottom: 2em;
		li {

			ul {
				margin-bottom: 0;
				li {
					list-style: disc;
				}
			}
		}
	}

	ol {
		margin-bottom: 2em;
		padding-left: 32px;
	}

	dl {
		margin-bottom: 2em;

		dt {
			display: inline-block;
			margin: 0 0 1em;
			padding: 6px 12px;
			border: 1px solid $main-color;
		}

		dd {
			margin: 0;
		}
	}

	table {
		width: 100% !important;
		margin-bottom: 2em;

		th {
			background: $main-color;
			color: #fff;
		}

		tr {

			&:nth-child(odd){

				td {
					background: #f5f5f5;
				}
			}
		}
	}

	blockquote {
		margin-bottom: 2em;
		padding: 36px 36px 36px 90px;
		border: 2px solid $main-color;
		background: #fff;

		@media screen and ( max-width: 767px ){
			padding: 60px 16px 16px;
		}


		&:before {
			color: $main-color;
			top: 36px;
			left: 36px;

			@media screen and ( max-width: 767px ){
				top: 16px;
				left: 16px;
			}

		}
	}

	.attention {
		padding: 32px;
		margin-bottom: 2em;

		@media screen and ( max-width: 767px ){
			padding: 16px;
		}
	}

	.a-1 {
		border: 1px solid #c5c5c5;
	}

	.a-2 {
		border: 2px solid $main-color;
	}

	.a-3 {
		border: 1px solid #727272;

		.attention-title {
			font-weight: bold;
			color: $main-color;
			margin-bottom: 10px;
		}
	}

	.attention,blockquote{
		ul,p{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.link-button-green,
	.link-button-orange{
		margin-bottom:30px !important;
		text-align: center;	
		padding: 0;	

		a{
			display:inline-block;
			padding:8px 32px 9px;
			color:#fff !important;
			font-weight:bold;
			border-radius: 3px;
			text-decoration: none !important;


			&:hover{
				text-decoration: none !important;
			}

			
			@media only screen and (max-width: 767px){
				max-width: 100%;
				width: 100%;
			}
			i{
				margin-right: 10px;
			}

		}
		&:hover{
			a{
				opacity: 0.8;				
			}
		}
	}
}
