.site-header{
	@media screen and ( max-width: 991px ){
		position: relative;
	}
	.site-title{
		img{
			height:89px;
			width:auto;
		}
	}
}
.main-navigation {
	background: $main-color;

	.primary-menu {

		li {
			padding: 0;

			&:before {
				content: none;
			}

			a {
				padding: 20px 8px;
				color: #fff;
				font-size: 16px;

				&:hover {
					background: #fff;
					color: $main-color;
				}
			}
		}

		.current-menu-item, .current-menu-parent {
			background: #fff;

			a {
				color: $main-color;
			}
		}
	}
}

/* SP nav btn
---------------------------------------------------------- */

.sp-nav-btn {
	display: none;
}

.xeory-sp-nav-btn {
	display: none;
	position: absolute;
	margin: auto;
	width: 36px;
	height: 36px;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;

	&:before {
		content: '≡';
		color: $main-color;
		cursor:pointer;
	}

	@media screen and ( max-width: $max-tb ) {
		display: block;
	}
}


/* SP nav btn-close
---------------------------------------------------------- */

.sp-nav-inner {
	position: relative;

	.xeory-spnav-btn-close {
		position: absolute;
		top: 18px;
		right: 20px;
		width: 36px;
		height: 36px;
		line-height: 34px;
		text-align: center;
		background: $main-color;
		border-radius: 50%;

		&:after {
			content: '×';
			font-size: 24px;
			color: #fff;
			cursor:pointer;
		}
	}
}


/* SP nav
---------------------------------------------------------- */

.xeory-spnav-wrap {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	.sp-nav-inner {
		width: 100%;
		margin: 0 auto;
		background: #fff;
		overflow-y: scroll;
		height: 100%;

		.spnav-widget {
			margin-bottom: 16px;

			h3 {
				background: none;
				padding: 20px 16px;
				color: #444;
				font-size: 22px;
			}

			> div {
				border-top: 2px solid #bebebe;

				ul {
					list-style: none;
					padding-top: 70px;

					li {

						a {
							display: block;
							font-weight: bold;
							color: #444444;
							padding: 20px 16px;
							border-bottom: 1px solid #e7e7e7;

							&:after {
								content:"\f105";
								font-family: FontAwesome;
								float:right;
								padding-right: 12px;
								color: $main-color;
							}

							&:hover {
								background: $main-color;
								color: #fff;

								&:after {
									color: #fff;
								}
							}
						}
					}

					.current-menu-item, .current-post-parent {

						a {
							background: $main-color;
							color: #fff;

							&:after {
								color: #fff;
							}
						}
					}
				}
			}
		}

		.widget_search{
			position: absolute;
			top: 75px;
			left: 0;
			right: 0;
			background: $base-color;
			padding: 16px;
			margin: 0 !important;
			.search-form{
				margin: 0;
			}
		}
	}
}

body.noscroll {
	overflow: hidden;
	position: fixed !important;
}

.xeory-spnav-wrap.active {
	display: block;
	opacity: 1;
	animation: fadeIn 0.5s ease 0s 1 normal;
	z-index: 11;
	width: 100%;
	height: 100%;
	padding: 16px;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(34, 34, 34, 0.9);
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}