.home, .archive, .search {

	.post-loop-wrap {
		font-size: 0;
	}

	.article-list {
		width: 50%;
		display: inline-block;
		font-size: 16px;
		vertical-align: top;
		padding:0;

		

		@media screen and ( max-width: 550px ){
			
		}

		article {
			background: none;
			border: 0;
			margin-bottom: 40px;

			.entry-header {
				position: relative;
				padding: 0;

				.cat {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					padding: 6px 8px;
					font-size: 14px;
					color: #fff;
					background: $main-color;
				}

				.entry-thumbnail {
					margin: 0;
					float: none;

					a {

						&:hover {
							opacity: 0.8;
						}
					}
				}
			}

			.entry-content {
				padding: 0;

				.entry-title {
					margin: 16px 0;
					padding: 0;
					border-bottom: 0;
					background: none;
					line-height: 1;

					@media screen and ( max-width: 550px ){
						margin: 12px 0;
					}

					a {
						color: $text-color;
						font-size: 20px;

						@media screen and ( max-width: 767px ){
							font-size: 20px;
						}

						&:hover {
							color: $main-color;
						}
					}
				}

				.cont-str {
					margin-bottom: 16px;
					font-size: 14px;
					line-height: 1.5;
				}

				.entry-meta {
					overflow: hidden;
					margin-bottom: 0;
					padding-left: 0;

					&:before {
						content: none;
					}

					li {
						list-style: none;
						display: inline-block;
					}

					.date {
						line-height: 32px;

						@media screen and ( max-width: 767px ){
							line-height: 28px;
						}
					}

					.more {
						float: right;
						background: $main-color;

						a {
							color: #fff;
							display: block;
							padding: 6px 12px;
							font-size: 13px;

							&:hover {
								background: $hover-color;
							}

							&:before {
								content:"\f18e";
								font-family: FontAwesome;
								font-weight: normal;
								padding-right: 5px;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}

.post-loop-first {
	overflow: hidden;
	margin-bottom: 60px;
	font-size: 0;

	@media screen and ( max-width: 550px ){
		margin-bottom: 0;
	}

	.article-list {
		width: 50%;
		display: inline-block;
		font-size: 16px;		

		article {
			width: 100%;
			margin: 0;
			padding: 0;
			border: 0;
			background: none;

			@media screen and ( max-width: 550px ){
				margin-bottom: 40px;
			}


			&:first-child{
				margin-right: 2%;
			}

			.entry-header {

				.entry-thumbnail {
					margin: 0;
				}
			}

			.entry-content {
				padding: 0;

				.entry-title {
					background: none;
					margin: 24px 0 16px;
					line-height: 1.5;

					@media screen and ( max-width: 991px ){
						margin: 16px 0;
						line-height: 1.2;
					}

					a {
						font-size: 30px;

						@media screen and ( max-width: 991px ){
							font-size: 24px;
						}

						@media screen and ( max-width: 550px ){
							font-size: 20px;
						}
					}
				}

				.cont-str {
					font-size: 16px;
					margin-bottom: 24px;

					@media screen and ( max-width: 550px ){
						font-size: 14px;
						margin-bottom: 16px;
					}
				}

				.entry-meta {

					li {
						font-size: 14px;

						@media screen and ( max-width: 550px ){
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}