#secondary {

	h3 {
		margin-bottom: 24px;
		padding: 14px 10px;
		background: #fff;
		font-size: 18px;

		&:before {
			content:"\f097";
			font-family: FontAwesome;
			background: $main-color;
			color: #fff;
			margin-right: 8px;
			padding: 5px 8px;
			border-radius: 50%;
			font-weight: normal;
		}
	}

//Search 
.widget_search{
	@media screen and(max-width:991px){
		display: none;
	}
}

//人気記事・関連記事

	.popular-posts{
		ul{
			li{
			    font-size: 16px;
			    display: inline-block;
			    vertical-align: top;
			    width: 100%;
			    padding: 0;
			    overflow: hidden;
			    line-height: 1.2;
			    margin-bottom: 12px;	
			    a{
			    	color:$text-color;
			    	font-size: 14px;
			    	.wpp-thumbnail{
			    		margin-right: 8px;
			    	}
			    	&:hover{
			    		color: $main-color;
			    	}
			    }
			}
		}
	}	
	.widget_xeory_postviews, .widget_xeory_recentviews {
		margin-bottom: 40px;

		.widget-content {

			ul {

				li {
					margin-bottom: 12px;
					padding: 0;

					.xeory-subloop-image {
						width: auto;
					}

					.xeory-subloop-content {

						h4 {
							line-height: 1.2;

							a {
								color: #333;
								font-size: 14px;
								font-weight: normal;

								&:hover {
									color: $main-color
								}
							}
						}

						.xeory-subloop-meta {
							display: none;
						}
					}
				}
			}
		}
	}

	.widget_xeory_recentviews {

		h3 {

			&:before {
				content:"\f11d";
				padding: 6px;
			}
		}
	}

	.widget_social_widget {

		h3 {

			&:before {
				content:"\f087";
				padding: 6px 8px;
			}
		}

		.xeory-social-btns {
			padding: 0;
			text-align: center;

			ul {
				margin: 0;

				li {
					width: auto !important;
					padding: 0 10px !important;
					margin: 0;

					a {
						width: 52px;
						height: 52px;
						padding: 0;
						margin: 0;
						display: inline-block;
						line-height: 52px;
						border-radius: 50px;

						&:before {
							width: 52px;
							height: 52px;
							font-size: 22px;
							margin: 0;
						}

						.xeory-social-name {
							display: none;
						}
					}
				}
			}
		}
	}
}