//
// Variables
// --------------------------------------------------


//== Colors
//
//## サイト全体で利用する色
//## 下記を編集して利用する
//## 必要に応じて$main-color-2,$main-color-3などを定義する

//** サイトイメージを形成する色
$main-color: #01bbb4;
//** サイトイメージを形成する色
$hover-color: #56e0db;
//** 背景色
$base-color: #f9f9f9;
//** アクセントカラー
$accent-color: #f24e4e;
//** ボーダーカラー
$border-color: #e5e5e5;
//** success
$success-color: #5cb85c;
//** warning
$warning-color: #f0ad4e;

//** テキストカラー
$text-color: #383838;
$text-color-light: #57585a;

//** グレー
$color-gray: #ccc;
$color-gray-50: #808080;

//== SNS Colors
//
//## SNSボタンなどに利用する
//## 値の変更は推奨しない

//** Twitter
$twitter-color: #55acee;
//** Facebook
$facebook-color: #3b5998;
//** Google+
$googleplus-color: #dc4e41;
//** Pocket
$pocket-color: #ef4056;
//** Line
$line-color: #00c300;
//** Hatena Bookmark
$hatenabookmark-color: #008fde;
//** Pinterest
$pinterest-color: #bd081c;
//** Feedly
$feedly-color: #2bb24c;


//== Font
//
//## serif、sans-serif、monospaceを定義

@font-face {
	font-family: "Custom Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 300;
}
@font-face {
	font-family: "Custom Yu Gothic";
	src: local("Yu Gothic");
	font-weight: 500;
}
@font-face {
	font-family: "Custom Yu Gothic";
	src: local("Yu Gothic");
	font-weight: bold;
}

$font-serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font-sans: YuGothic, "Custom Yu Gothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-mono: monospace;
$font-awesome: FontAwesome;

//** メディアクエリ用
$sp-width: 550px;


//== Container sizes
//
//## コンテナ全体の幅、サイドバーの幅、それらの間の余白を設定する		
//## 下記を編集して利用する

//** .wrapのwidth
$wrap-width: 1200px;
$side-width: 290px;
$gutter-width: 40px;


//** メディアクエリ用
$min-sp: 520px;
$max-sp: 767px;
$min-tb: 768px;
$max-tb: 991px;
$min-lp: 992px;
$max-lp: 1199px;
$min-pc: 1200px;


//== Sanitize.css

$root-background-color: $base-color;
$root-box-sizing: border-box;
$root-color: $text-color;
$root-cursor: normal;
$root-font-family: $font-sans;
$root-font-size: 100% !default;
$root-line-height: 1.5 !default;
$root-text-rendering: optimizeLegibility !default;

$anchor-text-decoration: none;
$background-repeat: no-repeat;
$form-element-background-color: transparent !default;
$form-element-min-height: if(unitless($root-line-height), #{$root-line-height}em, if(unit($root-line-height) != '%', $root-line-height, null)) !default;
$media-element-vertical-align: middle !default;
$monospace-font-family: $font-mono;
$nav-list-style: none !default;
$selection-background-color: $main-color;
$selection-color: #ffffff !default;
$selection-text-shadow: none !default;
$small-font-size: 75% !default;
$table-border-collapse: collapse !default;
$table-border-spacing: 0 !default;
$textarea-resize: vertical !default;